.card {
  width: 450px;
  height: 150px;
  max-width: 100%;
  padding: 1em;
  border-radius: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin: 2em auto;
  background-repeat: no-repeat;
  background-image: var(--bg);
  background-position: right;
  background-size: cover;
  background-color: #fff;
  transition: 0.2s;
  cursor: pointer;
}

.card:hover {
  box-shadow: 10px 10px 30px -3px #00000055;
}
