.icon {
  width: 30px;
}

section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2em;
  border-radius: 0.5em;
}

section p {
  padding: 1em;
  cursor: pointer;
  border-radius: 0.5em;
}

section img {
  display: none;
}

section p:hover {
  background-color: #eee;
}

@media (max-width: 700px) {
  section img {
    display: block;
  }
  section span {
    display: none;
  }
}
